* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  background-color: #FFFCF7;
}

.cronometro {
  width: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempo {
  font-size: 6.5rem;
  color: #050505;
}

.botoes button {
  width: 95px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}

.botoes button:enabled:hover {
  filter: brightness(105%);
}

.iniciar {
  background-color: #29BF12;
  border: none;
  color: white;
}

.pausar {
  background-color: white;
  border: 2px solid #F21B3F;
  color: #F21B3F;
}

.restaurar {
  background-color: #FF9914;
  border: none;
  color: white;
}

.restaurar:disabled {
  background-color: white;
  border: 2px solid #d9d9d9;
  color: #d9d9d9;
}

.marcar {
  background-color: #08BDBD;
  border: none;
  color: white;
}

table {
  display: none;
  width: min-content;
  margin-top: 50px;
  font-size: 1.6rem;
  color: #050505;
}

table.ativo {
  display: block;
}

table td{
  text-align: center;
}

table tr td:nth-child(2) {
  padding: 0 40px;
}

@media (max-width: 768px) {
  .tempo {
    font-size: 5.5rem;
  }
  .botoes button {
    width: 80px;
    height: 45px;
    font-size: 0.9rem;
  }
  table {
    font-size: 1.4rem;
  }
  table tr td:nth-child(2) {
    padding: 0 30px;
  }
}

@media (max-width: 425px) {
  .tempo {
    font-size: 4rem;
  }
  .botoes button {
    width: 60px;
    height: 35px;
    font-size: 0.7rem;
  }
  table {
    font-size: 1.2rem;
  }
  table tr td:nth-child(2) {
    padding: 0 20px;
  }
}